<h1>Organize your CD collection!</h1>
<form action="/cds" method="post">
  <div class="form-group">
    <label for="artist">Enter the artist:</label>
    <input id="artist" name="artist" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="album">Enter the album:</label>
    <input id="album" name="album" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Add</button>
</form>
<p>
  <h3>These are our CDs</h3>
<ul>
  <% @all_cds.each() do |artist_cds| %>
    <li><a href="/cds/<%= artist_cds.at(0).artist() %>"><%= artist_cds.at(0).artist() %></a></li>
  <% end %>
</ul>
</p>
